/*   fonts */
</style>
 body {
      background-color: #0d0d0d;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      color: rgb(252, 252, 252);
    }

    .container {
      backdrop-filter: blur(0px);
      background-color: rgba(28, 28, 28, 0.5);
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      padding: 30px;
      max-width: 400px;
      width: 100%;
      box-shadow: 0 0 20px rgba(255,255,255,0.05);
      transition: transform 0.1s ease-out;
      will-change: transform;
    }

    .profile-img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 20px;
      margin: 0 auto 20px;
      display: block;
      box-shadow: 0 0 10px rgba(255,255,255,0.2);
    }

    .username {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      text-shadow: 0 0 8px white;
      margin-bottom: 15px;
    }

    .badges, .socials {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: 10px 0;
      flex-wrap: wrap;
    }

    .badge, .social {
      font-size: 20px;
      filter: drop-shadow(0 0 2px #fff);
      cursor: pointer;
    }

    .info {
      text-align: center;
      font-size: 13px;
      opacity: 0.7;
    }

    .audio-box {
      margin-top: 40px;
      background: rgba(255,255,255,0.08);
      padding: 20px;
      border-radius: 15px;
    }

    audio {
      width: 100%;
      margin-top: 10px;
    }

    .glow-box {
      margin: 0 auto 14px;
      background-color: transparent;
      border-radius: 25%;
      padding: 10px;
      box-shadow: transparent; /* glow bianco */
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      pointer-events: all;
      transition: transform 0.1s ease-out;
      will-change: transform;
    }

    .icon {
      width: 23px;
      height: 15px;
      align-items: center;
      color: white;
    }

</style>
